{{ template "layout" . }}

{{ define "title" }}{{ .App.Config.ApplicationName }}{{ end }}

{{ define "content" }}
  {{ template "header" . }}

  {{ $authlibInjectorLink := render `<a href="{{ index . 0}}">{{ index . 0}}</a>` .App.AuthlibInjectorURL }}

  <h3>{{ call .T "Log in" }}</h3>

  {{ $dividerNeeded := false }}

  {{ if .App.Config.AllowPasswordLogin }}
    {{ if $dividerNeeded }}
      <div class="divider">{{ call .T "or" }}</div>
      {{ $dividerNeeded = false }}
    {{ end }}
    <form action="{{ .App.FrontEndURL }}/web/login" method="post">
      <input type="text" name="username" placeholder="{{ call .T "Username" }}" required />
      <input hidden name="returnUrl" value="{{ .URL }}" />
      <input hidden name="destination" value="{{ .Destination }}" />
      <input
        type="password"
        name="password"
        placeholder="{{ call .T "Password" }}"
        required
      />
      <input type="submit" value="{{ call .T "Log in" }}" />
    </form>
    {{ $dividerNeeded = true }}
  {{ end }}

  <h3>How to play</h3>
  <p>
    To use Sigil, please download a Rift Launcher from (render `<a href="https://voidstone.nightlunatic.pro/rift">Fjord Launcher</a>`).
  </p>

  <h4>{{ call .T "Other launchers" }}</h4>

  <p>{{ render
    (call .T `Use the authlib-injector URL {{ index . 0 }}.`)
    $authlibInjectorLink
  }}</p>

  <p>{{ call .T "Or, if your launcher supports custom API servers but not via authlib-injector, use the following URLs:" }}</p>

  <table>
    <tr>
      <td>{{ call .T "Authentication server:" }}</td>
      <td>{{ .App.AuthURL }}</td>
    </tr>
    <tr>
      <td>{{ call .T "Account server:" }}</td>
      <td>{{ .App.AccountURL }}</td>
    </tr>
    <tr>
      <td>{{ call .T "Session server:" }}</td>
      <td>{{ .App.SessionURL }}</td>
    </tr>
    <tr>
      <td>{{ call .T "Services server:" }}</td>
      <td>{{ .App.ServicesURL }}</td>
    </tr>
  </table>

  {{ template "footer" . }}
{{ end }}
